{
  "itinerary": {
    "taxLegs": [
      {
        "departs": "${ctx.leg1.departsDateTime}",
        "arrives": "${ctx.leg1.arrivesDateTime}",
        "legId": ${ctx.leg1.legId},
        "origin": {
          "type": "P",
          "code": "${ctx.leg1.originCode}"
        },
        "destination": {
          "type": "P",
          "code": "${ctx.leg1.destinationCode}"
        },
        "marketedCarrier": "${ctx.leg1.marketedCarrier}",
        "marketedFlightNo": ${ctx.leg1.marketedFlightNo},
        "operatedCarrier": "${ctx.leg1.operatedCarrier}",
        "operatedFlightNo":  ${ctx.leg1.operatedFlightNo},
        "rbd": "",
        "legIndicator": "F",
        "fareIndex": ${ctx.leg1.fareIndex},
        "transferType": "${ctx.leg1.transferType}",
        "involuntary": false
      },
      {
        "departs": "${ctx.leg2.departsDateTime}",
        "arrives": "${ctx.leg2.arrivesDateTime}",
        "legId": ${ctx.leg2.legId},
        "origin": {
          "type": "P",
          "code": "${ctx.leg2.originCode}"
        },
        "destination": {
          "type": "P",
          "code": "${ctx.leg2.destinationCode}"
        },
        "marketedCarrier": "${ctx.leg2.marketedCarrier}",
        "marketedFlightNo": ${ctx.leg2.marketedFlightNo},
        "operatedCarrier": "${ctx.leg2.operatedCarrier}",
        "operatedFlightNo": ${ctx.leg2.operatedFlightNo},
        "rbd": "",
        "legIndicator": "F",
        "fareIndex": ${ctx.leg2.fareIndex},
        "transferType": "${ctx.leg2.transferType}",
        "involuntary": false
      },

      {
        "departs": "${ctx.leg3.departsDateTime}",
        "arrives": "${ctx.leg3.arrivesDateTime}",
        "legId": ${ctx.leg3.legId},
        "origin": {
          "type": "P",
          "code": "${ctx.leg3.originCode}"
        },
        "destination": {
          "type": "P",
          "code": "${ctx.leg3.destinationCode}"
        },
        "marketedCarrier": "${ctx.leg3.marketedCarrier}",
        "marketedFlightNo": ${ctx.leg3.marketedFlightNo},
        "operatedCarrier": "${ctx.leg3.operatedCarrier}",
        "operatedFlightNo": ${ctx.leg3.operatedFlightNo},
        "rbd": "",
        "legIndicator": "F",
        "fareIndex": ${ctx.leg3.fareIndex},
        "transferType": "${ctx.leg3.transferType}",
        "involuntary": false
      },
      {
        "departs": "${ctx.leg4.departsDateTime}",
        "arrives": "${ctx.leg4.arrivesDateTime}",
        "legId": ${ctx.leg4.legId},
        "origin": {
          "type": "P",
          "code": "${ctx.leg4.originCode}"
        },
        "destination": {
          "type": "P",
          "code": "${ctx.leg4.destinationCode}"
        },
        "marketedCarrier": "${ctx.leg4.marketedCarrier}",
        "marketedFlightNo": ${ctx.leg4.marketedFlightNo},
        "operatedCarrier": "${ctx.leg4.operatedCarrier}",
        "operatedFlightNo": ${ctx.leg4.operatedFlightNo},
        "rbd": "",
        "legIndicator": "F",
        "fareIndex": ${ctx.leg4.fareIndex},
        "involuntary": false
      }
    ]
  },

  "fares": [
    {
      "fareBasisTicketDesignator": "",
      "tariff": 0,
      "privateTariff": false,
      "domesticFare": false,
      "fareOwningCarrier": "${ctx.fareOwningCarrier}",
      "tripType": "ROUND_TRIP",
      "fareAmount": 50.00,
      "fareCurrency": "USD"
    },
    {
      "fareBasisTicketDesignator": "",
      "tariff": 0,
      "privateTariff": false,
      "domesticFare": false,
      "fareOwningCarrier": "${ctx.fareOwningCarrier}",
      "tripType": "ROUND_TRIP",
      "fareAmount": 50.00,
      "fareCurrency": "USD"
    }
  ],
  "ticketDate": "${ctx.ticketDate}",
  "validatingCarrier": "${ctx.validatingCarrier}",
  "pointOfSale": {
    "type": "N",
    "code": "US"
  },
  "pointOfTicketing": {
    "type": "N",
    "code": "US"
  },
  "faresTotal": 100.00,
  "feesTotal": 0.00,
  "ticketCurrency": "USD",
  "responseCurrency": "USD",
  "enableDiagnostics": true,
  "includeExemptSequence": true,
  "involuntary": false
}